<div class="modal-outer-box" *ngIf="getModalState()">
    <div class="modal-internal">
        <div class="modal-container">
            <div class="icon close" (click)="closeModal()"></div>
            <div class="modal-header">
                header
                <!--<div [innerHTML]="getModalHeader()"></div>-->
            </div>
            <div class="modal-body">
                body
                <!--<div [innerHTML]="getModalMessage()"></div>-->
            </div>
            <div class="modal-footer">footer</div>
			<!--<div class="foot-note" [innerHTML]="getFootNote()">-->
        </div>
    </div>
</div>