// color goes here
$white: #FFF;
$black: #000;
$light-gray: #EEE;
// $red: #FE0000;
$red: #FF3366;
$background-gray: #FCFCFC;
$inactive-gray: #D0CECE;
$active-gray: #767171;
$divider-gray: #A6A6A6;

$chat-you: #E6E5EB;

$chat-me: #112930;
$tangaroa: #0B233F;